<p>Hey {{ name }},</p>
<p>Please click below to recovery to you password</p>
<p>
  <a href="{{ url }}">Recovery</a>
</p>

<p>If you did not request this email, then you may be being hacked. We recommend that you sweep away the password.</p>